* {
    box-sizing: border-box;
}
/* Style the body */

html {
    height: 100%;

}
body {
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
    flex-direction: column;
    min-height: 100%;
    display: flex;
}

/* Header/logo Title */
.header {
    height: 200px;
}

/* Increase the font size of the heading */
.header img {
    width: 100%;
    height: 200px;
}

/* Navbar */
.navbar {
    background-color: #333;
    display: flex;
    align-items: center;
    justify-content: center;
}


.navbar a {
    float: left;
    display: block;
    color: #fff;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}

.navbar a.right {
    float: right;
}

.navbar a:hover {
    background-color: #ddd;
    color: black;
}

/* Impressum */
.impressum {
    width: 33.3%;
    margin: 0 auto;
}

.impressum li {
    list-style: none;
}

/* Footer */
.footer {
    flex: 0 0 50px;/*or just height:50px;*/
    margin-top: auto;
    padding: 1rem;
    background-color: #333;
    text-align: center;
}
.footer p {
    margin: 0;
    color: #ffffff;
}

.footer p a {
    text-decoration: none;
    color: #ffffff;
}


/* Responsive layout - when the screen is less than 700px wide, make the two columns stack on top of each other instead of next to each other */
/*
@media (max-width: 700px) {
    .row {
        flex-direction: column;
    }
}
*/
/* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
/*
@media (max-width: 400px) {
    .navbar a {
        float: none;
        width: 100%;
    }
}
*/

/* ERROR Page */
#Error {
    height: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
#Error h1,h2{
    font-size: 50px;
    margin: 0;
}
/* Blog Entries */
.blog-entry {
    width: 33.3%;
    margin: 0 auto;
}

.blog-entry a{
    text-decoration: none;
    color: #ffffff;
}

.author a{
    float: right;
    text-decoration: none;
    color: #ffffff;
}

.date-title , .content , .author{
    background-color: #72747d;
    color: #ffffff;
    padding: 10px;
}
.form-item{
    margin: 20px 0;
}

.form-item label{
    display: block;
    float: left;
    width: 200px;
}

.form-item input {
    width: 30%;
    border: 1px solid #ccc;
    padding: 12px 20px;
}

.form-item textarea{
    width: 60%;
    height: 125px;
    resize: none;
    border: 1px solid #ccc;
    padding: 12px 20px;
}
#sendComment {
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
}

.comment p{
    margin: 0;
    margin-left: 30px;
}
.comment p:nth-child(2){
    margin-left: 47px;
}

.dummyFormComment {
    margin-bottom: 50px;
}


